.DS_Store
.vscode

__pycache__
.antlr

target/main
log

input.txt
*.*.py

submit/*
!submit/.gitkeep

/src/main/bkit/parser/BKIT.*.g4
/src/test/solutions/*
!/src/test/solutions/.gitkeep
/src/test/testcases/*
!/src/test/testcases/.gitkeep

